.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#header{
  font-family: cursive;
  color: #FFFFFF;
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;

}
 .jumbotron{
  background-image: linear-gradient(to right top, #0b060f, #3f3b41, #777278, #b4afb5, #f6f0f6);
 }

.App-link {
  color: #09d3ac;
}

#input1{
  width: 30%;

}
#input2{
  width: 30%;
}
label{
  color: #ff80df;
  font-size: 20px;
}
h3{
  color: #ff80df;
}

#container{
  background-color:rgba(0, 0, 0, .10);
  width: 100%;
  box-shadow: 2px 3px black;
}

button{
  border-style: inset;
}